/* 定义keyframe动画，命名为blink */
@keyframes blink{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
/* 添加兼容性前缀 */
@-webkit-keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-ms-keyframes blink {
    0% {opacity: 1; }
    100% { opacity: 0;}
}
@-o-keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
/* 定义blink类*/
.blink{
    font-weight:bold;
    color: #fff9fb;
    animation: blink 1s linear 0s infinite;
    -webkit-animation: blink 1s linear 0s infinite;
    -moz-animation: blink 1s linear 0s infinite;
    -ms-animation: blink 1s linear 0s infinite;
    -o-animation: blink 1s linear 0s infinite;
}